@page "/"
@inject NavigationManager NavMgr

<div class="boxes">
    <div class="boxes-inner flex">
        <a href="/master/penerima-bantuan" class="box" style="background-image: url(assets/img/placeholder02.png);">
            <span class="title">MENAMBAH PENERIMA BANTUAN</span>
        </a>
        <a href="/transaction/cari-penerima" class="box" style="background-image: url(assets/img/placeholder03.png);">
            <span class="title">MENCARI PENERIMA BANTUAN</span>
        </a>
        <a href="/transaction/daftar-bantuan" class="box" style="background-image: url(assets/img/placeholder04.png);">
            <span class="title">DAFTAR BANTUAN</span>
        </a>
    </div>
</div>


@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    void BukaUrl(string url)
    {
        NavMgr.NavigateTo(url);
    }
    async Task Test()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            //UserName = user.Identity.Name;
        }

        if (user.IsInRole("Administrator"))
        {
            // Perform an action only available to users in the 'admin' role.
        }
    }
}