@page "/"
@inject NavigationManager NavMgr

<b>Assalamualaikum, selamat datang Pak/Bu. Silakan dipilih menunya</b>

<table class="table table-hover table-bordered">
    <tr>
        <th>Menu</th>

        <th>Action</th>
    </tr>
    <tr>
        <td>Membuat Toko atau menambahkan barang ke dalam toko.</td>
        <td><button @onclick="@(()=>BukaUrl("/master/store"))" class="btn btn-info">Buka</button></td>
    </tr>
    <tr>
        <td>Belanja, beli barang-barang dari jamaah.</td>
        <td><button @onclick="@(()=>BukaUrl("/transaction/gallery"))" class="btn btn-info">Buka</button></td>
    </tr>
    <tr>
        <td>Daftar jadi driver, mengantar barang.</td>
        <td><button @onclick="@(()=>BukaUrl("/master/driver"))" class="btn btn-info">Buka</button></td>
    </tr>
    <tr>
        <td>Delivery order, ambil order pengiriman barang.</td>
        <td><button @onclick="@(()=>BukaUrl("/transaction/delivery-order"))" class="btn btn-info">Buka</button></td>
    </tr>
</table>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    void BukaUrl(string url)
    {
         NavMgr.NavigateTo(url);
    }
    async Task Test()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            //UserName = user.Identity.Name;
        }

        if (user.IsInRole("Administrator"))
        {
            // Perform an action only available to users in the 'admin' role.
        }
    }
}