@page "/"
@inject NavigationManager NavMgr

<b>Selamat datang Pak/Bu. Silakan dipilih menunya</b>

<table class="table table-hover table-bordered">
    <tr>
        <th>Menu</th>

        <th>Action</th>
    </tr>
    <tr>
        <td>Menambah penerima bantuan.</td>
        <td><button @onclick="@(()=>BukaUrl("/master/penerima"))" class="btn btn-info">Buka</button></td>
    </tr>
    <tr>
        <td>Mencari penerima bantuan.</td>
        <td><button @onclick="@(()=>BukaUrl("/transaction/search"))" class="btn btn-info">Buka</button></td>
    </tr>
    <tr>
        <td>Daftar bantuan.</td>
        <td><button @onclick="@(()=>BukaUrl("/transaction/daftar-bantuan"))" class="btn btn-info">Buka</button></td>
    </tr>
</table>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    void BukaUrl(string url)
    {
         NavMgr.NavigateTo(url);
    }
    async Task Test()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            //UserName = user.Identity.Name;
        }

        if (user.IsInRole("Administrator"))
        {
            // Perform an action only available to users in the 'admin' role.
        }
    }
}