@layout NoAuthLayout
@using SedekahKita.Web.Data
@using SedekahKita.Tools
@page "/auth/forgot-password"


@inject IToastService toastService
<h3>Lupa password, monggo di isi email atau no. hp nya biar dikirim passwordnya</h3>
<div class="formdiv">
    <div class="container">
        <div class="form-group">
            <label for="email">Email:</label>
            <input @bind="Email" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="hp">No HP:</label>
            <input @bind="Phone" type="text" class="form-control" id="hp">
        </div>

        <button class="btn btn-primary" @onclick="KirimPassword">Kirim Password</button>
    </div>
    <div class="container">
        <span class="psw">Kembali <a href="/auth/login">Login</a></span>
    </div>
</div>
@code {
    public string Phone { get; set; }
    public string Email { get; set; }

    async Task KirimPassword()
    {
        UserProfileService svc = new UserProfileService();

        string Error = string.Empty;

        if (string.IsNullOrEmpty(Email) && string.IsNullOrEmpty(Phone))
        {
            toastService.ShowError("Email atau no hp harus di isi.");
            return;
        }
        if (!string.IsNullOrEmpty(Email))
        {
            var item = svc.GetItemByEmail(Email);
            if (item != null)
            {
                MailService.SendEmail("Go-UB - Forget Password", $"Password Anda adalah {item.Password}", Email, false);

            }
            else
            {
                toastService.ShowError("Email tidak terdaftar.");
            }
        }

        if (!string.IsNullOrEmpty(Phone))
        {
            var item = svc.GetItemByPhone(Phone);
            if (item != null)
            {
                await SmsService.SendSms($"[Go-UB] -> Password Anda adalah {item.Password}", item.Phone);

            }
            else
            {
                toastService.ShowError("No HP tidak terdaftar.");
            }
        }
    }
}
