@layout NoAuthLayout
@page "/auth/forgot-password"

@using SedekahKita.Web.Services
@using SedekahKita.Tools
@inject IToastService toastService

<div class="left">
    <div class="form-section">
        <div class="logo">
            <img src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x" alt="Sedekah Kita">
        </div>
        <div class="form-center">
            <div class="form">
                <h2>RESET PASSWORD</h2>
                <br>
                <div class="form-group">
                    <label>No HP</label>
                    <input @bind="Phone" type="text" name="nohp">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input @bind="Email" type="email" name="email">
                </div>
                <br>
                <div class="form-button">
                    <button class="primary" @onclick="KirimPassword">KIRIM PASSWORD</button>
                </div>
                <div class="form-button">
                    <button class="" onclick="fw_open('/auth/login')">KEMBALI KE LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right banner-note">
    <div class="banner-outer">
        <div class="banner-inner">
            <h2>“Sesungguhnya sedekah itu memadamkan panasnya alam kubur bagi pelakunya. Dan sungguh, pada hari Kiamat, seorang mukmin akan bernaung di bawah naungan sedekahnya."</h2>
            <div class="banner-footer">
                <div class="footnote">Hasan: HR. Ath-Thabrani dalam al-Mu’jamul Kabiir (XVII/286, no. 788) dari ‘Uqbah bin ‘Amir Radhiyallahu anhu. Silsilah al-Ahaadiits ash-Shahiihah (no. 3484).</div>
                <img src="assets/img/img02.png" alt="">
            </div>
        </div>
    </div>
</div>

@code {
    public string Phone { get; set; }
    public string Email { get; set; }

    async Task KirimPassword()
    {
        UserProfileService svc = new UserProfileService();

        string Error = string.Empty;

        if (string.IsNullOrEmpty(Email) && string.IsNullOrEmpty(Phone))
        {
            toastService.ShowError("Email atau no hp harus di isi.");
            return;
        }
        if (!string.IsNullOrEmpty(Email))
        {
            var item = svc.GetItemByEmail(Email);
            if (item != null)
            {
                await MailService.SendEmail("Go-UB - Forget Password", $"Password Anda adalah {item.Password}", Email, false);

            }
            else
            {
                toastService.ShowError("Email tidak terdaftar.");
            }
        }

        if (!string.IsNullOrEmpty(Phone))
        {
            var item = svc.GetItemByPhone(Phone);
            if (item != null)
            {
                await SmsService.SendSms($"[Go-UB] -> Password Anda adalah {item.Password}", item.Phone);

            }
            else
            {
                toastService.ShowError("No HP tidak terdaftar.");
            }
        }
    }
}
