@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<AuthControl></AuthControl>
<div class="page">
    <div class="page-header">
        <div class="logo">
            <img src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x" alt="Sedekah Kita">
        </div>
        <div class="page-menu">
            <input type="checkbox" id="mobileMenuToggle">
            <span class="menu-lines">
                <span></span><span></span><span></span>
            </span>
            <NavMenu />

        </div>
    </div>
    <div class="page-content">
        @Body

    </div>
</div>



<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />