@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<div class="sidebar">
    <NavMenu />
    <AuthControl></AuthControl>
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginControl></LoginControl>
        <a href="https://gravicode.com/" target="_blank">Kontak Kami</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />