<span class="menu-group">
            <a href="/" class="active">Beranda</a>
            <a href="/master/penerima-bantuan" class="">Penerima Bantuan</a>
            <a href="/transaction/cari-penerima" class="">Kirim Bantuan</a>
            <a href="/transaction/daftar-bantuan" class="">Daftar Bantuan</a>
            <a href="/master/user-profile" class="">Profil Saya</a>
            <a href="/logout?returnUrl=/" class="btn-logout">Logout</a>
          </span>


@code {
  
}
