@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
      <div class="sections">
         @Body
      </div>
    </div>

        
       

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />